$header_font: 'M PLUS Rounded 1c', sans-serif;
$content_font: 'Open Sans', sans-serif;

$primary: #f3c1ff;
$secondary: #cdc1ff;
$tertiary: #c1d5ff;

body {
  margin: 0;
  padding: 0;
  font-family: $content_font;
}

.landing {
  background-color: $primary;
  background-image: 
    linear-gradient(to top, $primary, $secondary 80%, $tertiary)
}

.fancy {
  font-family: $header_font;
}

.regular {
  font-family: $content_font;
}