@import "main";

#products {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    padding-bottom: 25px;

    .header {
        font-family: $header_font;
        font-weight: bold;
        font-size: 3.5rem;
        padding: 25px;
        display: flex;
        align-items: center;
        color: #333;

        img {
            margin-right: 25px;
            height: 3.5rem;
        }
    }

    #body {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;

        .product {
            font-family: $content_font;
            display: block;
            border: 1px solid #e2e2e2;
            margin: 15px;
            width: calc(100% * (1/4) - 10px - 1px);

            .header {
                font-family: $content_font;
                margin: 0;
                padding: 10px;
                font-size: 1rem;
                color: #333;
            }

            .img {
                img {
                    width: 100%;
                }
            }

            .footer {
                padding: 10px;
                &::after {
                    content: '';
                    clear: both;
                }
                .set {
                    display: block;
                    
                    .price {
                        font-family: $content_font;
                        font-weight: bold;
                        display: inline-block;
                    }

                    .description {
                        text-align: right;
                        float: right;
                        max-width: 200px;
                    }
                }

                .multi {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    .sets {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .set:not(:nth-child(1)) {
                            display: none;
                        }
                    }

                    &.shown .sets {
                        .set {
                            display: block;
                        }

                        .set:not(:first-child) {
                            padding-top: 5px;
                        }

                        .set:not(:last-child) {
                            border-bottom: 0.5px solid #e2e2e2;
                            padding-bottom: 5px;
                        }
                    }

                    .expand {
                        flex-grow: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.landing {
    background-image: url('../img/landing.png');
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

    .logo {
        text-align: center;
        padding: 30px 0 0 0;
        img {
            width: 60%;
            max-width: 300px;
        }
    }

    .description {
        max-width: 500px;
        text-align: center;
        margin: 0 auto;

        .fancy {
            color: #111;
            display: inline-block;
            margin-bottom: 10px;
        }

        a {
            display: inline-block;
            margin-top: 15px;
            font-size: 1rem;
            padding: 10px 35px;
            background-color: #A8E0D7;
            color: #333;
            text-decoration: none;

            &:hover {
                color: #555555;
                background-color: rgb(154, 207, 199);
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #products {
        #body {
            flex-direction: column;

            .product {
                margin-bottom: 50px;
                width: calc(100% - 30px);
            }
        }
    }
}