body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.landing {
  background-color: #f3c1ff;
  background-image: linear-gradient(to top, #f3c1ff, #cdc1ff 80%, #c1d5ff);
}

.fancy {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.regular {
  font-family: "Open Sans", sans-serif;
}

#products {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  padding-bottom: 25px;
}
#products .header {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 25px;
  display: flex;
  align-items: center;
  color: #333;
}
#products .header img {
  margin-right: 25px;
  height: 3.5rem;
}
#products #body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#products #body .product {
  font-family: "Open Sans", sans-serif;
  display: block;
  border: 1px solid #e2e2e2;
  margin: 15px;
  width: calc(100% * (1/4) - 10px - 1px);
}
#products #body .product .header {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  color: #333;
}
#products #body .product .img img {
  width: 100%;
}
#products #body .product .footer {
  padding: 10px;
}
#products #body .product .footer::after {
  content: "";
  clear: both;
}
#products #body .product .footer .set {
  display: block;
}
#products #body .product .footer .set .price {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: inline-block;
}
#products #body .product .footer .set .description {
  text-align: right;
  float: right;
  max-width: 200px;
}
#products #body .product .footer .multi {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
#products #body .product .footer .multi .sets {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#products #body .product .footer .multi .sets .set:not(:nth-child(1)) {
  display: none;
}
#products #body .product .footer .multi.shown .sets .set {
  display: block;
}
#products #body .product .footer .multi.shown .sets .set:not(:first-child) {
  padding-top: 5px;
}
#products #body .product .footer .multi.shown .sets .set:not(:last-child) {
  border-bottom: 0.5px solid #e2e2e2;
  padding-bottom: 5px;
}
#products #body .product .footer .multi .expand {
  flex-grow: 0;
  margin-left: 10px;
}

.landing {
  background-image: url("../img/landing.png");
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.landing .logo {
  text-align: center;
  padding: 30px 0 0 0;
}
.landing .logo img {
  width: 60%;
  max-width: 300px;
}
.landing .description {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
.landing .description .fancy {
  color: #111;
  display: inline-block;
  margin-bottom: 10px;
}
.landing .description a {
  display: inline-block;
  margin-top: 15px;
  font-size: 1rem;
  padding: 10px 35px;
  background-color: #A8E0D7;
  color: #333;
  text-decoration: none;
}
.landing .description a:hover {
  color: #555555;
  background-color: #9acfc7;
}

@media only screen and (max-width: 800px) {
  #products #body {
    flex-direction: column;
  }
  #products #body .product {
    margin-bottom: 50px;
    width: calc(100% - 30px);
  }
}

/*# sourceMappingURL=regular.css.map */
